{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ title | trans }}</h1>

                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.hostname) }}
                    {{ form_row(form.sshUser) }}
                    {{ form_row(form.sshPassword) }}
                    {{ form_row(form.sshPort) }}
                    {{ form_row(form.group) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.keyPair) }}

                    <div class="text-center form-group">
                        <button type="submit" name="save" value="yes" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                        <a href="{{ path('server_index') }}" class="btn btn-secondary">{% trans %}Cancel{% endtrans %}</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
